<%- include('../partials/header') %>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Logg Inn</h1>
        </div>
        <div class="card-body">
          <form action="/auth/login" method="POST">
            <div class="form-group">
              <label for="email">E-post</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Skriv inn e-post"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Passord</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Skriv inn passord"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Logg Inn</button>
          </form>
          <p class="mt-2">
            <a href="/auth/forgot-password">Glemt passord?</a>
          </p>
          <p class="mt-4">
            Ingen konto ennå? <a href="/auth/register">Registrer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>